.wpp_insights {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__breadcrumb {
    height: 24px;
    padding-top: $unnnic-spacing-sm;
  }
  &__header {
    display: flex;
    flex-direction: row;
    height: 54px;
    padding-top: $unnnic-spacing-sm;
    align-items: center;
    &__logo {
      padding-right: $unnnic-spacing-xs;
    }
    &__about {
      width: 80%;
      color: $unnnic-color-neutral-dark;

      &__title {
        font-family: $unnnic-font-family-primary;
        font-size: $unnnic-font-size-title-sm;
        font-weight: $unnnic-font-weight-regular;
        padding-bottom: $unnnic-spacing-xs;
      }

      &__description {
        font-family: $unnnic-font-family-secondary;
        font-size: $unnnic-font-size-body-gt;
      }
    }
  }
  &__filters {
    display: flex;
    padding-top: $unnnic-spacing-sm;
    flex-direction: row;
    font-family: $unnnic-font-family-secondary;
    font-size: $unnnic-font-size-body-gt;
    color: $unnnic-color-neutral-cloudy;
    gap: $unnnic-spacing-sm;
    z-index: 999;

    &__time {
      width: 260px;
      height: 76px;

      &__title {
        padding-bottom: $unnnic-spacing-nano;
      }
    }

    &__model {
      width: 260px;
      height: 76px;

      &__title {
        padding-bottom: $unnnic-spacing-nano;
      }
      &__select{
        ::v-deep .unnnic-select-smart__options__multiple__selecteds {
          width: auto;
          flex-wrap: wrap;
        }
      }
    }
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    top: 315px;

    &__empty {
      display: flex;
      flex: 1;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: $unnnic-spacing-sm;
      margin: $unnnic-spacing-sm;

      
      &__image {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__text {
        display: flex;
        flex-direction: column;
        font-family: $unnnic-font-family-secondary;
        align-items: center;
        justify-content: center;
        gap: $unnnic-spacing-sm;
        &__title {
          font-size: $unnnic-font-size-body-lg;
          color: $unnnic-color-neutral-dark;
          font-weight: $unnnic-font-weight-bold;
        }
        &__description {
          font-size: $unnnic-font-size-body-gt;
          color: $unnnic-color-neutral-dark;
          text-align: center;
        }
      }
      &__button {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__active {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: flex-start;
      align-self: flex-start;

      &__chart {
        display: flex;
        flex: 1;
        width: 95vw;
        flex-direction: column;
        gap: $unnnic-spacing-lg;
        padding: $unnnic-spacing-lg 0;
      }
    }
  }

  &__modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    ::v-deep .unnnic-modal-container-background {
      width: 658px;
      max-height: 95%;
      overflow: scroll;
    }

    &__title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        font-family: $unnnic-font-family-secondary;
        font-size: $unnnic-font-size-title-sm;
        color: $unnnic-color-neutral-dark;
        font-weight: $unnnic-font-weight-black;
      }
    }

    &__content {
      font-family: $unnnic-font-family-secondary;
      font-size: $unnnic-font-size-body-lg;
      color: $unnnic-color-neutral-cloudy;

      &__dark {
        color: $unnnic-color-neutral-dark;
      }
    }

    &__buttons {
      display: flex;
      justify-content: center;
      width: 100%;
      gap: $unnnic-spacing-sm;
    }
  }
}
