.app-grid {
  &__header {
    display: flex;
    gap: $unnnic-spacing-inline-sm;
    align-items: center;

    &__title {
      color: $unnnic-color-neutral-darkest;
      font-size: $unnnic-font-size-title-sm;
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    gap: $unnnic-spacing-stack-sm;
    align-items: flex-start;

    &__item {
      min-height: 136px;
      width: 222px;

      &--generic {
        height: calc(190px - 2rem);
      }

      &__dropdown {
        font-family: $unnnic-font-family-secondary;
        font-size: $unnnic-font-size-body-md;
        line-height: $unnnic-line-height-md + $unnnic-font-size-body-md;
        color: $unnnic-color-neutral-dark;

        ::v-deep .unnnic-dropdown__content {
          width: max-content;
        }
      }

      &__button {
        &--add {
          height: fit-content;
        }

        &--action,
        &--details,
        &--remove {
          display: inline-block;

          font-family: $unnnic-font-family-secondary;
          font-size: $unnnic-font-size-body-md;
          line-height: $unnnic-line-height-md + $unnnic-font-size-body-md;
        }

        &--remove {
          color: $unnnic-color-feedback-red;
        }
      }
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: $unnnic-spacing-stack-md;
  }
}
