.wpp_template_details{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: $unnnic-spacing-sm;
    padding-top: $unnnic-spacing-sm;

    &__header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
        &__title{
            display: flex;
            flex-direction: row;
            gap: $unnnic-spacing-sm;

            &__text{
                font-family: $unnnic-font-family-primary;
                font-size: $unnnic-font-size-title-sm;
                color: $unnnic-color-neutral-dark;
            }
        }
    }
}