.whatsapp_template_summary {
  &__title {
    display: flex;
    flex-direction: row;
    gap: $unnnic-spacing-sm;
    align-items: center;
    font-family: $unnnic-font-family-secondary;
    &__main {
      font-size: $unnnic-font-size-body-lg;
      font-weight: $unnnic-font-weight-bold;
      color: $unnnic-color-neutral-darkest;
    }
    &__subtitle {
      font-size: $unnnic-font-size-body-md;
      color: $unnnic-color-neutral-cloudy;
    }
  }

  &__main {
    display: flex;
    flex-direction: row;
    gap: $unnnic-spacing-sm;
    margin-top: $unnnic-spacing-xs;

    &__card {
      display: flex;
      flex-direction: column;
      gap: $unnnic-spacing-nano;
      font-family: $unnnic-font-family-secondary;
      color: $unnnic-color-neutral-darkest;

      &__title {
        display: flex;
        font-size: $unnnic-font-size-body-gt;
        align-items: center;
      }

      &__value {
        font-size: $unnnic-font-size-title-lg;
      }
    }
  }

  &__quality {
    margin-top: $unnnic-spacing-xs;
    &__title {
      display: flex;
      flex-direction: row;
      gap: $unnnic-spacing-sm;
      align-items: center;
    }
    &__status {
      display: flex;
      flex-direction: row;
      gap: $unnnic-spacing-sm;
      align-items: center;
      margin-top: $unnnic-spacing-xs;
      
      &__level {
        display: flex;
        flex-direction: column;
        font-family: $unnnic-font-family-secondary;
        color: $unnnic-color-neutral-darkest;
        &__title {
          font-size: $unnnic-font-size-body-gt;
          align-items: center;
        }
  
        &__value {
          font-size: $unnnic-font-size-title-lg;
        }

      }

      &__blocked{
        display: flex;
        flex-direction: column;
        font-family: $unnnic-font-family-secondary;
        color: $unnnic-color-neutral-darkest;
        &__title {
          font-size: $unnnic-font-size-body-gt;
        }
  
        &__value {
          font-size: $unnnic-font-size-title-lg;
        }
      }
    }
  }
}
