.discovery-content {
    display: flex;
    flex-direction: column;
    flex: 1;

    &__grids {
      display: flex;
      flex-direction: column;
      gap: $unnnic-spacing-stack-lg;
      margin-bottom: $unnnic-spacing-stack-lg;
    }

    &__search {
      margin-top: $unnnic-spacing-stack-sm;
      margin-bottom: $unnnic-spacing-stack-lg;

      &__results {
        font-size: $unnnic-font-size-body-lg;
        line-height: $unnnic-font-size-body-lg + $unnnic-line-height-md;
        color: $unnnic-color-neutral-darkest;

        &__highlight {
          font-weight: $unnnic-font-weight-bold;
        }
      }
    }

    &__recommended {
      margin-top: auto;
    }
  }