.color-picker {
    display: flex;
    gap: $unnnic-inline-xs;

    &__color {
      width: $unnnic-icon-size-xs;
      height: $unnnic-icon-size-xs;
      border-radius: $unnnic-border-radius-pill;
    }

    &__input {
      width: $unnnic-icon-size-xs;
      height: $unnnic-icon-size-xs;
      border-radius: $unnnic-border-radius-pill;

      &__icon {
        left: -2px;
        top: -6px;
      }

      input {
        width: 0;
        height: 0;
        visibility: hidden;
      }
    }
  }