.navigator {
    display: flex;
    flex-direction: row;
    &__container {
      display: flex;
      flex-direction: row;

      &__divider {
        margin: 0 $unnnic-inline-xs;
      }

      &__link {
        text-decoration: none;
        font-family: $unnnic-font-family-secondary;
        font-size: $unnnic-font-size-body-lg;
        line-height: $unnnic-font-size-body-lg + $unnnic-line-height-md;

        color: $unnnic-color-fg-base;
        border-bottom: 1px solid $unnnic-color-border-base;
        &.router-link-active {
          color: $unnnic-color-fg-base;
          font-weight: $unnnic-font-weight-bold;
          cursor: default;

          border: none;
        }
      }
    }
  }