.container {
    display: flex;
    flex: 1;
    overflow: auto;

    .flows-iframe {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      height: auto;
    }

    .logo {
      width: 10%;
      max-width: $unnnic-avatar-size-md;
      max-height: $unnnic-avatar-size-md;
    }
  }